body{
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;
    background: black;
    display: inline-block;
    text-align: center;
    color: rgb(245, 245, 5);
    margin: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 8px;
}

